<%= javascript_include_tag 'json2.js' %>
<ul id="playlist_songs">
	<!-- <div class="dragPadding"></div> -->
	<% @playlist_tracks.each_with_index do |t, i| %>
		<% if i==0 %>
			<li id="<%=t[2]%>" class="song currentSong">
				<%= link_to "Remove", "/remove/#{t[2]}", :remote => true, :class => "xButton"%>
				<span class="songTitle"><%= truncate("#{t[0]}", :length => 25) %> </span><br>
				<span class="artist"><%= truncate("#{t[1]}", :length => 23) %></span>
				<script>
					$('.xButton').click(function(){
						$(this).parent().remove();
						lock = true;
					});
				</script>
			</li>
		<% else %>
			<li id="<%=t[2]%>" class="song nextSong">
				<%= link_to "Remove", "/remove/#{t[2]}", :remote => true, :class => "xButton"%>
				<span class="songTitle"><%= truncate("#{t[0]}", :length => 25) %> </span><br>
				<span class="artist"><%= truncate("#{t[1]}", :length => 23) %></span>
				<script>
					$('.xButton').click(function(){
						$(this).parent().remove();
						lock = true;
					});
				</script>
			</li>
		<% end %>
	
	<% end %>
	<!-- <div class="dragPadding"></div> -->
</ul>

<script>
	$(function(){
		$("#playlist_songs").sortable({
			revert:true,
			containment: "#playlist",
			stop: function(event, ui) { 
				lock = true;
				var list = escape(JSON.stringify($("#playlist_songs").sortable('toArray')));
				$.post(("reorder/" + list), function(){
					lock = false
				});	
			},
			start: function(event, ui) {
				lock = true;
			}
		});

	});
</script>