<!DOCTYPE html>
<html>
<head>
  <title>Webtunes</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js', 'jquery-ui-1.8.6.custom.min.js' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="header">
		<div id="headerContent">
			Web Tunes
		</div>
	</div>
	
	<div id="container">
		<div id="cTop"></div>
		<div id="cMiddle">
	
<%= yield %>
		</div>
		<div id="cBottom"></div>
	</div>
</body>
</html>
