<!DOCTYPE html>
<html>
<head>
  <title>Webtunes</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js', 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js', 'jqueryrails.js' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<% if @needs_login%>
		<%= render 'welcome' %>
	<% end %>
	<div id="header">
		<div id="headerContent">
			webTunes
		</div>
	</div>
	
	<div id="container">
		<div id="cTop"></div>
		<div id="cMiddle">
	
<%= yield %>
		</div>
		<div id="cBottom"></div>
	</div>
</body>
</html>
